{% import "/block/base.twig" as base %}
<div class='ui segments'>
	<div class='ui segment'>
		<b>Aplicar O.C</b>
	</div>
	{{alert.show()}}
	<div class='ui segment'>
		<form class="ui form" id="formAtv" method="POST">
		    {% if permission("System."~package~".new") %}
			<div class="field" id="aplicador">
				<label>Aplicador <span>*</span></label>
				<input type="text" value="{{conta.username}}" readonly>
			</div>
			<div class="" id="dadosAtv">
        		{% include twigPath~'/formulario.twig' %}
				<div class='ui center aligned grid'>
					<div class="column">
					    <input type='hidden' name='_token' value='{{token.create()}}'>
					    {{base.button("salvar")}}
					</div>
				</div>
			</div>
			{% else %}
			    {{error(403)}}
			{% endif %}
		</form>
	</div>
</div>