{% import "/block/base.twig" as base %}
<div class='ui segments'>
	<div class='ui segment'>
		<b>Editar O.C</b>	
	</div>
	{{alert.show()}}
	<div class='ui segment'>
		<form class="ui form" method="POST">
		    {% if permission("System."~package~".edit") %}
				{% if item is false %}
				    {{error(404)}}
				{% else %}
					<div class="field">
						<label>Aplicador</label>
						<input type="text" value="{{item.aplicador ?? "O aplicador foi apagado"}}"  readonly>
					</div>
            		{% include twigPath~'/formulario.twig' %}
					<div class='ui center aligned grid'>
						<div class="column">
						    <input type='hidden' name='_token' value='{{token.create()}}'>
							{{base.button("salvar")}}
							{{base.button("voltar",link ~"/ver/"~item.id)}}
						</div>
					</div>
				{% endif %} {# end if item is false #}
			{% else %}
			    {{error(403)}}
			{% endif %}
		</form>
	</div>
</div>