{% import "/block/base.twig" as base %}

<div class="field">
  {{ base.input({
    disabled,
    name: "oc",
    label: "Quem assumiu:",
    placeholder: "Digite o nickname corretamente",
    type: "text",
    value: item.oc ?? ""
  }) }}
</div>

<div class="two fields">
  <div class="field">
    <label for="hora_inicio">Horário de Início do O.C</label>
    {{ base.input({
      disabled,
      name: "hora_inicio",
      id: "hora_inicio",
      type: "time",
      placeholder: "Hora:Minuto Ex: 10:00",
      value: item.hora_inicio ?? ""
    }) }}
  </div>

  <div class="field">
    <label for="hora_termino">Horário de Término do O.C</label>
    {{ base.input({
      disabled,
      name: "hora_termino",
      id: "hora_termino",
      type: "time",
      placeholder: "Hora:Minuto Ex: 11:00",
      value: item.hora_termino ?? ""
    }) }}
  </div>
</div>

<div class="two fields">
  <div class="field">
    <label for="lotas_no_horario">Teve lotas no horário?</label>
    <div class="inline fields">
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" id="lotas_sim" name="lotas_no_horario" value="sim" {{ disabled ? 'disabled' }} {{ item.lotas_no_horario == 'sim' ? 'checked' }}>
          <label for="lotas_sim">Sim</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" id="lotas_nao" name="lotas_no_horario" value="nao" {{ disabled ? 'disabled' }} {{ item.lotas_no_horario == 'nao' ? 'checked' }}>
          <label for="lotas_nao">Não</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field" id="nickname_lotadores_field" aria-labelledby="lotadores_label" {% if item.lotas_no_horario != 'sim' %}data-nickname-disabled="true"{% endif %}>
  <label for="usuarios" id="lotadores_label">Nickname dos lotadores</label>
  <div class="ui fluid {{ disabled ? 'disabled' }} selection multiple search dropdown noload" id="usuarios" aria-labelledby="lotadores_label">
    <input type="hidden" name="visitantes" {{ disabled ? 'readonly' }} value="{{ item.visitantes }}">
    <div class="default text">Preencha os nicknames dos lotadores</div>
  </div>
</div>

{% if page == "editar" %}
  {% set options = ["Aprovado", "Pendente", "Reprovado", "Cancelado", "Oculto"] %}
  {{ base.input({
    name: 'status',
    type: 'select',
    label: 'Status',
    options,
    value: item.status
  }) }}
{% endif %}