{% import "/block/base.twig" as base %}


<div class="field">
{{base.input({disabled,name:"ob",
label: "Oficial de Comando",
placeholder: "Digite o nickname do oficial de comando",
type:"text",value: item.ob ?? ""
})}}
</div>

<div class="field">
  {{ base.input({
    disabled,
    name: "ob",
    label: "Quem assumiu O.B:",
    placeholder: "Digite o nickname do oficial de base",
    type: "text",
    value: item.ob ?? ""
  }) }}
</div>

<div class="two fields">
  <div class="field">
    <label for="hora_inicio">Horário de Início</label>
    {{ base.input({
      disabled,
      name: "hora_inicio",
      id: "hora_inicio",
      type: "time",
      placeholder: "Hora:Minuto Ex: 10:00",
      value: item.hora_inicio ?? ""
    }) }}
  </div>

  <div class="field">
    <label for="hora_termino">Horário de Término</label>
    {{ base.input({
      disabled,
      name: "hora_termino",
      id: "hora_termino",
      type: "time",
      placeholder: "Hora:Minuto Ex: 11:00",
      value: item.hora_termino ?? ""
    }) }}
  </div>
</div>


{% if page == "editar" %}
  {% set options = ["Aprovado", "Pendente", "Reprovado", "Cancelado", "Oculto"] %}
  {{ base.input({
    name: 'status',
    type: 'select',
    label: 'Status',
    options,
    value: item.status
  }) }}
{% endif %}