{% import "/block/base.twig" as base %}

{{ base.header('LISTA DE PRESENÇA - O.G', 'list', '') }}

{# Begin Lista #}
<table class="ui table">
  {{ thead('ID', 'Aplicador', 'Horários', 'Data', 'Status', 'Ações') }}
  {% if lista is not empty %}
    {% for item in lista %}
      <tr>
        {{ td(item.id) }}
        {{ td(item.aplicador) }}
        {{ td('<p><b>Horário de Início:</b> ' ~ item.hora_inicio ~ '</p><p><b>Horário de Término:</b> ' ~ item.hora_termino ~ '</p>') }}
        {{ td(item.data ? item.data|date('d/m/Y') : '-') }}
        {{ td(base.status(item.status)) }}
        {{ td(base.button('ver', link ~ '/ver/' ~ item.id)) }}
      </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td class="text-center" colspan="{{ atividade.id == 2 ? 7 : 8 }}">
        Nenhum resultado encontrado
      </td>
    </tr>
  {% endif %}
</table>
{# End Lista #}