{% import "/block/base.twig" as base %}

{{ base.header('Lista de O.Cs','list',"") }}



{# Begin Lista #}
<table class="ui table">
  {{thead("#","Aplicador","Horários","Data","Status","Apelidos","Ações")}}
  {% if lista|length > 0 %}
    {% for item in lista %}
      <tr>
        {{td(item.id)}}
        {{td(item.aplicador)}}
        {{td("<p><b>Horário de Início</b> "~item.hora_inicio~"</p><p><b>Horário de Termino</b> "~item.hora_termino~"</p>")}}
        {{td(item.data ? item.data|date("d/m/Y") : "-")}}
        {{td(base.status(item.status))}}
        {{td(item.apelidos)}}
        {{td(base.button("ver",link ~ '/ver/' ~ item.id))}}
      </tr>
    {% endfor%}
  {% else %}
    <tr>
      <td class='text-center' colspan="{{atividade.id == 2 ? 7 : 8}}">
        Nenhum resultado encontrado
      </td>
    </tr>
  {% endif %}
</table>

{# End Lista #}
